---
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "consts";
import Page from "@layouts/Page.astro";
import RectPattern from "@components/RectPattern.astro";
import BlogPost from "@components/BlogPost.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Page title={"Blog - " + SITE_TITLE} description={SITE_DESCRIPTION} addNight={true}>
  <section
    transition:animate="fade"
    id="blog"
    class="flex flex-1 flex-col w-full m-auto box-border p-6 pt-12 pb-20 max-w-[900px]"
  >
    <h2 class="section-title font-bold">Let's Learn Together!</h2>
    <div class="pt-10 grid gap-2 lg:grid-cols-2 lg:gap-y-8">
      {posts.map((post) => <BlogPost post={post} />)}
    </div>

    <RectPattern width={250} height={250} id="rect-left" />
    <RectPattern width={230} height={230} id="rect-right" />
  </section>
</Page>

<style>
  :global(#blog > #rect-right) {
    position: absolute;
    right: 0;
    top: 128px;
    z-index: -1;
  }
  :global(#blog > #rect-left) {
    position: absolute;
    left: 0;
    bottom: calc(100vh / 5);
    z-index: -1;
  }
  :global(#blog:has(.blog-post:hover) .blog-post) {
    opacity: 0.7;
  }

  @media (max-width: 1024px) {
    :global(#blog > #rect-right),
    :global(#blog > #rect-left) {
      display: none;
    }
  }
</style>
