---
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "consts";
import Page from "@layouts/Page.astro";
import BlogPost from "@components/blog/BlogPost.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Page metaTitle={"Blog - " + SITE_TITLE} metaDescription={SITE_DESCRIPTION}>
  <h2
    class="section-title text-2xl mt-28 mb-6 sm:mb-12 sm:text-[2rem] font-bold sm:mx-auto w-fit max-w-[70vw] uppercase block animate-fade-up animate-ease-out"
  >
    Let's Learn Together!
  </h2>

  <div class="my-6 grid gap-2 sm:grid-cols-2 sm:gap-y-8 animate-fade-up animate-ease-out" id="blog">
    {posts.map((post, i) => <BlogPost post={post.data} indx={i} />)}
  </div>
</Page>
