.blogs {
  max-width: 1100px;
  margin: 0 auto;
}
.blog {
  display: flex;
  margin: 24px 0;
}

.blog img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.blog .text {
  margin-left: 24px;
}

.text .title {
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .blogs {
    max-width: 1100px;
    margin: 0 auto;
    margin: 24px;
  }
  .blog {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .blog .text {
    margin: 0;
  }
}
