body.dark .gist .highlight {
  background: #323232;
}
body.dark .gist .blob-num,
body.dark .gist .blob-code-inner,
body.dark .gist .pl-s2,
body.dark .gist .pl-stj,
body.dark .gist .pl-vo,
body.dark .gist .pl-id,
body.dark .gist .pl-ii {
  color: #fff;
}
body.dark .gist .pl-enti,
body.dark .gist .pl-mb,
body.dark .gist .pl-pdb {
  font-weight: 700;
}
body.dark .gist .pl-c,
body.dark .gist .pl-c span,
body.dark .gist .pl-pdc {
  color: #bc9458;
  font-style: italic;
}
body.dark .gist .pl-c1,
body.dark .gist .pl-pdc1,
body.dark .gist .pl-scp {
  color: #6c99bb;
}
body.dark .gist .pl-ent,
body.dark .gist .pl-eoa,
body.dark .gist .pl-eoai,
body.dark .gist .pl-eoai .pl-pde,
body.dark .gist .pl-ko,
body.dark .gist .pl-kolp,
body.dark .gist .pl-mc,
body.dark .gist .pl-mr,
body.dark .gist .pl-ms,
body.dark .gist .pl-s3,
body.dark .gist .pl-sok {
  color: #ffe5bb;
}
body.dark .gist .pl-mdh,
body.dark .gist .pl-mdi,
body.dark .gist .pl-mdr {
  font-weight: 400;
}
body.dark .gist .pl-mi,
body.dark .gist .pl-pdi {
  color: #ffe5bb;
  font-style: italic;
}
body.dark .gist .pl-sra,
body.dark .gist .pl-src,
body.dark .gist .pl-sre {
  color: #cc3;
}
body.dark .gist .pl-mdht,
body.dark .gist .pl-mi1 {
  color: #a5c261;
  background: rgba(0, 64, 0, 0.5);
}
body.dark .gist .pl-md,
body.dark .gist .pl-mdhf {
  color: #b83426;
  background: rgba(64, 0, 0, 0.5);
}
body.dark .gist .pl-ib,
body.dark .gist .pl-id,
body.dark .gist .pl-ii,
body.dark .gist .pl-iu {
  background: #b83426;
}
body.dark .gist .pl-ms1 {
  background: #ffc66d;
}
body.dark .gist .highlight-text-html-basic .pl-ent,
body.dark .gist .pl-cce,
body.dark .gist .pl-cn,
body.dark .gist .pl-coc,
body.dark .gist .pl-enc,
body.dark .gist .pl-ens,
body.dark .gist .pl-k,
body.dark .gist .pl-kos,
body.dark .gist .pl-kou,
body.dark .gist .pl-mh .pl-pdh,
body.dark .gist .pl-mp,
body.dark .gist .pl-mp .pl-s3,
body.dark .gist .pl-mp1 .pl-sf,
body.dark .gist .pl-mq,
body.dark .gist .pl-mri,
body.dark .gist .pl-pde,
body.dark .gist .pl-pse,
body.dark .gist .pl-pse .pl-s2,
body.dark .gist .pl-s,
body.dark .gist .pl-st,
body.dark .gist .pl-stp,
body.dark .gist .pl-sv,
body.dark .gist .pl-v,
body.dark .gist .pl-va,
body.dark .gist .pl-vi,
body.dark .gist .pl-vpf,
body.dark .gist .pl-vpu,
body.dark .gist .pl-mdr {
  color: #cc7833;
}
body.dark .gist .pl-cos,
body.dark .gist .pl-ml,
body.dark .gist .pl-pds,
body.dark .gist .pl-s1,
body.dark .gist .pl-sol,
body.dark .gist .pl-mb,
body.dark .gist .pl-pdb {
  color: #a5c261;
}
body.dark .gist .pl-e,
body.dark .gist .pl-en,
body.dark .gist .pl-entl,
body.dark .gist .pl-mo,
body.dark .gist .pl-sc,
body.dark .gist .pl-sf,
body.dark .gist .pl-smi,
body.dark .gist .pl-smp,
body.dark .gist .pl-mdh,
body.dark .gist .pl-mdi {
  color: #ffc66d;
}
body.dark .gist .pl-ef,
body.dark .gist .pl-enf,
body.dark .gist .pl-enm,
body.dark .gist .pl-entc,
body.dark .gist .pl-entm,
body.dark .gist .pl-eoac,
body.dark .gist .pl-eoac .pl-pde,
body.dark .gist .pl-eoi,
body.dark .gist .pl-mai .pl-sf,
body.dark .gist .pl-mm,
body.dark .gist .pl-pdv,
body.dark .gist .pl-smc,
body.dark .gist .pl-som,
body.dark .gist .pl-sr,
body.dark .gist .pl-enti {
  color: #b83426;
}
body.dark {
  font: 16px "Open Sans", sans-serif;
}
body.dark .gist .gist-file {
  border-color: #555 #555 #444;
}
body.dark .gist .gist-data {
  border-color: #555;
}
body.dark .gist .gist-meta {
  color: #ffffff;
  background: #373737;
}
body.dark .gist .gist-meta a {
  color: #ffffff;
}
body.dark .gist .gist-data .pl-s .pl-s1 {
  color: #a5c261;
}
