.footer {
  padding: 1em 0;
  margin-top: 4em;
  text-align: center;
  background: linear-gradient(45deg, var(--clr-grd-one), var(--clr-grd-two));
  color: var(--clr-bg);
}

.footer a,
.footer h2 {
  color: var(--clr-bg);
}

.footer .btn--outline {
  color: var(--clr-bg);
  border: 2px solid var(--clr-bg);
}

.footer .btn--outline:focus,
.footer .btn--outline:hover {
  color: var(--clr-primary);
}

.footer .btn--outline:before {
  background-color: var(--clr-bg);
}

.footer .link:hover {
  color: var(--clr-bg-alt);
}

.footer .link::before {
  background-color: var(--clr-bg-alt);
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-fg);
}
.contact {
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
}

.contact p {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
    margin-left: -1em;
    margin-right: -1em;
  }
}
