---
import Page from "@layouts/Page.astro";
---

<Page metaTitle={"404"} metaDescription={"Page not found"}>
  <div class="notfound-wrapper h-screen m-0 flex flex-col items-center justify-center">
    <div class="four0four" title="404">404</div>
    <p>This page doesn't exist. =(</p>
    <a href="/"> Return to home</a>
  </div>
</Page>

<style>
  .notfound-wrapper {
    font-family: monospace, system-ui, sans-serif;
  }

  p {
    font-size: xx-large;
  }

  .four0four {
    letter-spacing: -7px;
    font-size: 96px;
  }

  a:hover {
    color: var(--clr-primary);
  }
</style>
