---
import Page from "../layouts/Page.astro";
---

<Page title={"404"} description={"Page not found"} addNight={true}>
  <section>
    <div class="four0four" title="404">404</div>
    <p>This page doesn't exist. =(</p>
    <a href="/"> Return to home</a>
  </section>
</Page>

<style>
  section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 250px);
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: monospace, system-ui, sans-serif;
  }

  p {
    font-size: xx-large;
  }

  .four0four {
    letter-spacing: -7px;
    font-size: 96px;
  }

  a:hover {
    color: var(--clr-primary);
  }
</style>
