---
import Page from "@layouts/Page.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "consts";
import { Image } from "astro:assets";

import myPhoto from "@assets/images/casual-photo.jpg";
import RectPattern from "@components/RectPattern.astro";
import MyName from "@components/MyName.astro";
---

<Page
  title={"About - " + SITE_TITLE}
  description={SITE_DESCRIPTION}
  addNight={true}
  class="flex flex-col items-center overflow-x-hidden bg-transparent"
>
  <div class="fixed-height sm:pt-20 sm:px-6 m-auto max-sm:pt-6 max-sm:mt-6 max-sm:px-6 box-border max-w-[900px]">
    <div class="name">
      <small class="uppercase">About</small>
      <h2 class="font-bold">
        <MyName />
      </h2>
    </div>
    <div class="flex max-sm:block mt-8 gap-4">
      <div class="flex-1 lg:pr-2">
        <p>Hi there!</p>

        <p class="lg:text-justify">
          Throughout my journey from early encounters with computers in 2002 to my current role as a seasoned Frontend
          Engineer, I've been driven by a passion for technology and creating meaningful digital experiences.
        </p>
        <p class="lg:text-justify">
          With over seven years of experience, I specialize in crafting elegant, user-centric web applications using
          Angular, React, TypeScript, and more. I've revitalized legacy systems and led the development of cutting-edge
          applications, honing my problem-solving skills and delivering exceptional results.
        </p>
        <p class="lg:text-justify">
          Beyond coding, I'm a dedicated metalhead, drawing inspiration from bands like Black Sabbath and Tool.
        </p>
      </div>
      <div class="details-photo h-min relative">
        <Image format="avif" src={myPhoto} loading="eager" alt="My portrait photo" width={300} height={300} />
        <RectPattern />
      </div>
    </div>

    <p class="lg:mt-4 lg:text-justify">
      Continuously learning and growing, I thrive on mastering new technologies and refining UI/UX skills. I believe in
      the power of collaboration, fostering strong relationships to solve challenges and drive meaningful change.
    </p>
    <p class="lg:text-justify max-sm:mb-16">
      As I embark on the next chapter, I'm excited to push boundaries in technology, mentor others, and make a positive
      impact. Let's connect and discuss tech, metal, or collaboration opportunities!
    </p>
  </div>
</Page>

<style>
  :global(.details-photo > svg) {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -2rem;
    margin-top: 4rem;
    z-index: -1;
    transition: var(--transition);
  }
  .details-photo {
    transition: var(--transition);
  }

  .details-photo:hover {
    transform: translate(-5px, -5px);
  }

  .details-photo:hover img {
    filter: none;
    transition: var(--transition);
  }

  :global(.details-photo:hover > svg) {
    transform: translate(10px, 10px);
  }

  img {
    border-radius: 8px;
    box-shadow: var(--shadow);
    position: relative;
    margin-top: 3em;
    background-image: url("/src/assets/images/blur.png");
    background-size: contain;
    filter: grayscale(100%) contrast(1);
  }

  @media (max-width: 640px) {
    .details {
      display: block;
    }

    img {
      margin-top: 0;
      margin-bottom: 1rem;
      width: 100%;
      height: 100%;
    }

    .fixed-height {
      height: unset;
    }
    .details-photo:hover {
      transform: translate(0px, -5px);
    }
  }
</style>
