---
import Page from "@layouts/Page.astro";
import ContactIcons from "@components/ContactIcons.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "consts";
---

<Page
  title={"Contact - " + SITE_TITLE}
  description={SITE_DESCRIPTION}
  addNight={true}
  class="max-sm:mt-8 max-sm:ml-4 max-sm:mr-4 flex-col overflow-hidden bg-transparent center"
>
  <div class="fixed-height pt-20  ">
    <h2 class="section__title font-bold">Contact Me</h2>

    <div class="flex flex-col items-center" id="contact">
      <p class="mt-12">Interested in working together? We should queue up a time to chat. I'll buy the coffee.</p>

      <a href="mailto:lasiprabo@gmail.com" class="mb-12 z-0">
        <span class="btn btn--outline">Let's do this! 🤘🏼</span>
      </a>

      <ContactIcons />
    </div>
  </div>
</Page>
