---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import Page from "../layouts/Page.astro";

const SITE_TITLE = "Contact Lasitha";
const SITE_DESCRIPTION = "Contact Lasitha";

const { default: eye } = await import(`/src/assets/icons/eye.svg?raw`);
const { default: book } = await import(`/src/assets/icons/book.svg?raw`);
const { default: code } = await import(`/src/assets/icons/code.svg?raw`);
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} addNight={true}>
  <section>
    <h2 class="section__title">Contact Me</h2>
    <div class="projects__grid"></div>
  </section>
</Page>
