---
import Page from "@layouts/Page.astro";
import ContactIcons from "@components/ContactIcons.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "consts";

import "@assets/styles/home.css";
---

<Page
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  addNight={true}
  class="max-sm:mt-8 max-sm:ml-4 max-sm:mr-4 flex-col overflow-hidden bg-transparent center"
>
  <div class="fixed-height flex flex-col justify-center">
    <h1 class="text-6xl max-sm:text-4xl">
      Hi, I am <span class="about-name font-bold max-sm:block">Lasitha Prabodha</span>
    </h1>
    <h2 class="text-5xl max-sm:text-3xl max-sm:mt-4 text-[color:var(--clr-quote)]">
      I build things for web and mobile
    </h2>
    <p class="mb-12 mt-8">A software engineer specializing in building exceptional digital experiences</p>
    <a href="/blog" class="mb-12 z-0 w-fit my-0 mx-auto">
      <span class="btn btn--outline">Check out blog!</span>
    </a>

    <ContactIcons />
  </div>
</Page>
