---
import Page from "../layouts/Page.astro";
import ContactIcons from "../components/ContactIcons.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "../assets/styles/home.css";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} addNight={true} class="about center">
  <h1>
    Hi, I am <span class="about__name">Lasitha Prabodha.</span>
  </h1>
  <h2 class="about__role">A Full Stack & Mobile Software Engineer.</h2>
  <ContactIcons />
</Page>

