---
import Page from "../layouts/Page.astro";
import Project from "../components/Project.astro";
import RectPattern from "../components/RectPattern.astro";

const SITE_TITLE = "Lasitha's - Projects";
const SITE_DESCRIPTION = "Lasitha's - Projects";

const { default: eye } = await import(`/src/assets/icons/eye.svg?raw`);
const { default: book } = await import(`/src/assets/icons/book.svg?raw`);
const { default: code } = await import(`/src/assets/icons/code.svg?raw`);
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} addNight={true}>
  <section
    id="projects"
    class="bg-transparent flex flex-col justify-center flex-1 p-6 w-full m-auto box-border mt-6 max-w-[1100px] mb-40 max-sm:mb-8"
  >
    <h2 class="section__title font-semibold">Projects</h2>
    <div class="pt-10 grid gap-16 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-12">
      <Project
        title="SuperOffice - Developer Portal"
        description="Contains a set of self-serve tools that developers can use to manage their access to SuperOffice Online APIs"
        technologies={["Angular", ".NET", "C#"]}
        links={[
          {
            href: "https://docs.superoffice.com/en/developer-portal/about.html",
            ariaLabel: "documentation",
            icon: book,
          },
        ]}
      />
      <Project
        title="Cenium PMS"
        description="Streamlines complex group bookings with a versatile and dynamic PMS solution"
        technologies={["Angular", ".NET", "C#"]}
        links={[{ href: "https://www.cenium.com/pms", ariaLabel: "website", icon: book }]}
      />
      <Project
        title="CarPool App Backend"
        description="A project written .NET to learn clean architecture with DDD"
        technologies={[".NET", "C#"]}
        links={[{ href: "https://github.com/LasithaPrabodha/CleanArchitecture", ariaLabel: "source code", icon: code }]}
      />
      <Project
        title="Club Arena"
        description="Simplifies sports facility management, enabling easy bookings without manual processing"
        technologies={["Angular", ".NET", "C#"]}
        links={[{ href: "https://github.com/LasithaPrabodha/jeopardy-app", ariaLabel: "source code", icon: eye }]}
      />
      <Project
        title="Jeopardy"
        description="A simple implementation of the classic TV game show 'Jeopardy'. The project is built using vanilla JavaScript"
        technologies={["JavaScript", "CSS", "HTML"]}
        links={[
          { href: "https://github.com/LasithaPrabodha/jeopardy-app", ariaLabel: "source code", icon: code },
          { href: "https://lasithaprabodha.github.io/jeopardy-app", ariaLabel: "source code", icon: eye },
        ]}
      />
      <Project
        title="Kingsbury Toronto"
        description="A mobile-first and user-friendly website for a luxurious apartment in Toronto"
        technologies={["CSS", "HTML"]}
        links={[{ href: "https://kingsbury-toronto-website.web.app", ariaLabel: "live preview", icon: eye }]}
      />
      <Project
        title="Dot Connect"
        description="A simple two-player dot connect game built with linked lists."
        technologies={["JavaScript", "CSS", "HTML"]}
        links={[
          { href: "https://lasithaprabodha.github.io/dot-connect", ariaLabel: "live preview", icon: eye },
          {
            href: "https://github.com/LasithaPrabodha/dot-connect",
            ariaLabel: "source code",
            icon: code,
          },
        ]}
      />
    </div>

    <RectPattern width={250} height={250} id="rect-left" />
    <RectPattern width={230} height={230} id="rect-right" />
  </section>

  <style>
    :global(#projects > #rect-right) {
      position: absolute;
      right: 0;
      bottom: calc(100vh / 5);
      z-index: -1;
    }
    :global(#projects > #rect-left) {
      position: absolute;
      left: 0;
      top: -128px;
      z-index: -1;
    }
    .projects__grid {
      max-width: 1100px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
      grid-gap: 2em;
      width: 100%;
    }

    @media (max-width: 640px) {
      #projects {
        padding-bottom: 2em;
      }

      :global(#projects > #rect-left) {
        top: 300px;
      }
    }
  </style>
</Page>
