---
import Page from "@layouts/Page.astro";
import Project from "@components/Project.astro";
import RectPattern from "@components/RectPattern.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "consts";
import { getCollection } from "astro:content";
import type { Link } from "interfaces/Link";

const { default: eye } = await import(`/src/assets/icons/eye.svg?raw`);
const { default: book } = await import(`/src/assets/icons/book.svg?raw`);
const { default: github } = await import(`/src/assets/icons/github.svg?raw`);

const icons: { [key: string]: string } = { eye, book, github };

const professionalProjects = (await getCollection("professional-projects")).sort((a, b) => a.data.id - b.data.id);
const personalProjects = (await getCollection("personal-projects")).sort((a, b) => a.data.id - b.data.id);
---

<Page title={"Projects - " + SITE_TITLE} description={SITE_DESCRIPTION} addNight={true}>
  <section
    transition:animate="fade"
    id="projects"
    class="bg-transparent flex flex-col justify-center flex-1 w-full m-auto box-border p-6 pt-12 pb-6 max-w-[900px] max-sm:pb-8"
  >
    <h2 class="section-title font-bold">Projects</h2>

    <h4 class="mt-6 lg:pl-4 lg:text-center font-semibold uppercase text-[color:var(--clr-fg)]">Professional Projects</h4>
    <div class="mt-6 grid gap-1 lg:grid-cols-2 lg:gap-y-6">
      {
        professionalProjects.map((project) => (
          <Project {...project} links={project.data.links.map((l: Link) => ({ ...l, icon: icons[l.icon] }))} />
        ))
      }
    </div>
    <h4
      class="mt-16 lg:pl-4 lg:text-center font-semibold uppercase text-[color:var(--clr-fg)] relative w-max my-0 lg:mx-auto"
    >
      <span>Personal Projects</span>
      <a
        class="btn-more-projects text-sm absolute top-0 right-0 lg:pl-4 text-[color:var(--clr-quote)] hover:text-[color:var(--clr-grd-one)] flex items-center w-max"
        href="https://www.github.com/LasithaPrabodha?tab=repositories"
        target="_blank"
      >
        ( <span class="mr-1">View more</span>
        <Fragment set:html={github} /> )
      </a>
    </h4>
    <div class="my-6 grid gap-1 lg:grid-cols-2 lg:gap-y-6">
      {
        personalProjects.map((project) => (
          <Project {...project} links={project.data.links.map((l: Link) => ({ ...l, icon: icons[l.icon] }))} />
        ))
      }
    </div>

    <RectPattern width={250} height={250} id="rect-left" />
    <RectPattern width={230} height={230} id="rect-right" />
  </section>
</Page>
<style is:global>
  #projects > #rect-right {
    position: absolute;
    right: 0;
    bottom: calc(100vh / 5);
    z-index: -1;
  }
  #projects > #rect-left {
    position: absolute;
    left: 0;
    top: 128px;
    z-index: -1;
  }

  #projects:has(.project:hover) .project {
    opacity: 0.7;
  }

  .btn-more-projects {
    right: -95px;
    font-size: 10px;
    bottom: 0;
    transition: var(--transition);
  }
  .btn-more-projects svg {
    transition: var(--transition);
    fill: var(--clr-quote);
    font-size: 1.2rem;
    width: 14px;
    height: 14px;
  }
  .btn-more-projects:hover svg {
    fill: var(--clr-grd-one);
  }

  @media (max-width: 640px) {
    .btn-more-projects span {
      display: none;
    }

    .btn-more-projects {
      right: -30px;
    }
  }
</style>
<script>
  const projects = document.querySelectorAll(".project");

  projects.forEach((link) => {
    link.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      if (
        target.classList.contains("link--icon") ||
        (target.parentNode as HTMLElement).classList.contains("link--icon")
      ) {
        return;
      }

      const project = target.closest(".project") as HTMLElement;
      const link = project?.dataset.link;
      window.open(link, "_blank")?.focus();
    });
  });
</script>
