---
import MyName from "@components/MyName.astro";
import { Picture } from "astro:assets";

import RectPattern from "@components/RectPattern.astro";
import myPhoto from "@assets/images/casual-photo.jpg";
---

<section class="mb-44">
  <div class="center">
    <div class="name mt-12 sm:mt-0">
      <small class="uppercase">About</small>
      <h2 class="relative">
        <MyName showSinhala={true} />
      </h2>
    </div>
  </div>
  <div class="flex max-sm:block mt-12 gap-2">
    <div class="flex-1 sm:pr-2">
       <p class="sm:text-justify">
        Hi there! I'm Lasitha Prabodha Weligampola, and I'm excited to introduce myself.
       </p>
      <p class="sm:text-justify">
         My journey with technology began in 2002 as a child, and today I'm a Senior Software Engineer with over eight years of experience building web and mobile applications that are both functional and enjoyable to use. ⚡
      </p>
      <p class="sm:text-justify">
          I specialize in Angular, React, TypeScript, C#, .NET Core, Azure, and other modern web technologies. I've worked with startups, mid-sized companies, and large enterprises - leading the development of innovative applications and modernizing legacy systems.
      </p>
    </div>
    <div class="details-photo h-min relative max-w-full sm:max-w-64">
      <Picture class="me" formats={["avif", "webp"]} src={myPhoto} alt="Lasitha Prabodha Weligampola" />
      <RectPattern width={256} height={256} />
    </div>
  </div>
  <p class="sm:text-justify">
      I'm passionate about continuous learning and growth, whether it's mastering emerging technologies or improving user experiences. I thrive in collaborative environments and value strong, supportive teams - but I'm equally effective when working independently. 🚀
  </p>
  <p class="sm:text-justify">
      Outside of coding, music fuels my creativity. From the godfathers of heavy metal to the most intense modern metal, I love exploring every dark, thunderous corner of the metal universe 🤘🏼 - but I have a soft spot for other genres too. 
      I also find inspiration in nature, exploring beautiful landscapes that combine serenity with grandeur, helping me recharge and stay inspired.
  </p>
  <p class="sm:text-justify">
    I'm always excited to push the boundaries of technology and make a meaningful impact. Let's connect - whether it's to talk tech, music, or potential collaborations. 🤝
  </p>
  <div class="flex justify-center mt-12">
    <img src="https://whats-lasitha-now-playing.vercel.app/now-playing" alt="Now Playing" />
  </div>
</section>

<style>
  :global(.details-photo > svg) {
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: -1;
    transition: var(--transition);
  }
  .details-photo {
    transition: var(--transition);
    margin-bottom: 1em;
  }

  .details-photo:hover {
    transform: translate(3px, -3px);
  }

  .details-photo:hover img {
    transition: var(--transition);
  }

  :global(.details-photo:hover > svg) {
    transform: translate(6px, -6px);
  }

  .me {
    border-radius: 16px;
    box-shadow: var(--shadow);
    position: relative;
    background-image: url("/src/assets/images/blur.png");
    background-size: contain;
  }
  h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 1px;
    left: -120px;
    margin: 0px auto;
    background-color: var(--clr-quote);
    top: 50%;
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 1px;
    right: -120px;
    margin: 0px auto;
    background-color: var(--clr-quote);
    top: 50%;
  }

  @media (max-width: 640px) {
    .details {
      display: block;
    }

    img {
      margin-top: 0;
      margin-bottom: 1rem;
      width: 100%;
      height: 100%;
    }

    .details-photo:hover {
      transform: translate(0px, -5px);
    }
  }
</style>
