---
import MyName from "@components/MyName.astro";
import { Picture } from "astro:assets";

import RectPattern from "@components/RectPattern.astro";
import myPhoto from "@assets/images/casual-photo.jpg";
---

<section class="mb-32">
  <div class="center">
    <div class="name mt-12 sm:mt-0">
      <small class="uppercase">About</small>
      <h2 class="relative">
        <MyName />
      </h2>
    </div>
  </div>
  <div class="flex max-sm:block mt-12 gap-2">
    <div class="flex-1 sm:pr-2">
      <p class="sm:text-justify">
        Hi there! I'm excited to introduce myself. I'm Lasitha Prabodha Weligampola. I discovered my passion for
        technology back in 2002 when I started playing around with computers. Now, as a Full-Stack Engineer with over
        seven years of experience, I create web and mobile applications that are both functional and enjoyable to use.
      </p>
      <p class="sm:text-justify">
        My expertise lies in Angular, React, TypeScript, C#, .NET Core, Azure, and various web technologies. I've worked
        with startups, medium-sized, and large-scale companies, leading the development of cutting-edge applications and
        revitalizing legacy systems.
      </p>
    </div>
    <div class="details-photo h-min relative max-w-full sm:max-w-64">
      <Picture formats={["avif", "webp"]} src={myPhoto} alt="Lasitha Prabodha Weligampola" />
      <RectPattern width={256} height={256} />
    </div>
  </div>
  <p class="sm:text-justify">
    Coding keeps my brain buzzing, but fire up some metal and that's when I truly come alive. 🤘🏼 The energy just hits
    different. Whether it's Black Sabbath, Gojira, Tool or Metallica, I enjoy them all. 🎸
  </p>
  <p class="sm:text-justify">
    Continuous learning and improvement are essential to me, whether it's mastering new technologies or enhancing user
    interfaces for better usability. While I highly value the power of teamwork and fostering strong relationships, I'm
    equally capable of working effectively in both independent and collaborative environments.
  </p>
  <p class="sm:text-justify">
    I'm excited to push boundaries in technology, and make a positive impact. Let's connect and discuss tech, your
    favourite metal band, or collaboration opportunities! 🤝🏼
  </p>
</section>

<style>
  :global(.details-photo > svg) {
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: -1;
    transition: var(--transition);
  }
  .details-photo {
    transition: var(--transition);
    margin-bottom: 1em;
  }

  .details-photo:hover {
    transform: translate(3px, -3px);
  }

  .details-photo:hover img {
    transition: var(--transition);
  }

  :global(.details-photo:hover > svg) {
    transform: translate(6px, -6px);
  }

  img {
    border-radius: 16px;
    box-shadow: var(--shadow);
    position: relative;
    background-image: url("/src/assets/images/blur.png");
    background-size: contain;
  }
  h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 1px;
    left: -120px;
    margin: 0px auto;
    background-color: var(--clr-quote);
    top: 50%;
  }
  h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 1px;
    right: -120px;
    margin: 0px auto;
    background-color: var(--clr-quote);
    top: 50%;
  }

  @media (max-width: 640px) {
    .details {
      display: block;
    }

    img {
      margin-top: 0;
      margin-bottom: 1rem;
      width: 100%;
      height: 100%;
    }

    .details-photo:hover {
      transform: translate(0px, -5px);
    }
  }
</style>
