---
import MyName from "@components/MyName.astro";
---

<section class="min-h-screen center flex-col sm:mt-10">
  <h1 class="text-5xl max-sm:text-4xl">
    Hi, I am <MyName />
  </h1>
  <h2 class="text-[2.4rem] max-sm:text-3xl max-sm:mt-4 text-[color:var(--clr-quote)]">
    I build things for web and mobile
  </h2>
  <p class="mt-6">A software engineer specializing in building exceptional digital experiences</p>

  <a href="/blog" class="button-container z-0 my-0 mt-4 mb-8 mx-auto w-[200px]">
    <span class="mas">Check out my blog!</span>
    <button type="button" name="Hover">Check out my blog!</button>
  </a>
</section>
