---
import { getCollection } from "astro:content";

import type { Link } from "interfaces/Link";
import Project from "@components/Project.astro";

const { default: eye } = await import(`/src/assets/icons/eye.svg?raw`);
const { default: book } = await import(`/src/assets/icons/book.svg?raw`);
const { default: github } = await import(`/src/assets/icons/github.svg?raw`);

const icons: { [key: string]: string } = { eye, book, github };

const professionalProjects = (await getCollection("professional-projects")).sort((a, b) => a.data.id - b.data.id);
---

<section class="mb-24">
  <div id="projects" class="mt-5 sm:mt-0">
    <h2>
      <span class="my-name font-bold max-sm:block">Where I've Worked</span>
    </h2>

    <div class="mt-6 -ml-4 grid gap-1 sm:grid-cols-2 sm:gap-y-6">
      {
        professionalProjects.map((project) => (
          <Project {...project} links={project.data.links.map((l: Link) => ({ ...l, icon: icons[l.icon] }))} />
        ))
      }
    </div>
  </div>
</section>
<style>
  .btn-more-projects {
    right: -95px;
    font-size: 10px;
    bottom: 0;
    transition: var(--transition);
  }
  .btn-more-projects svg {
    transition: var(--transition);
    fill: var(--clr-quote);
    font-size: 1.2rem;
    width: 14px;
    height: 14px;
  }
  .btn-more-projects:hover svg {
    fill: var(--clr-link);
  }

  @media (max-width: 640px) {
    .btn-more-projects span {
      display: none;
    }

    .btn-more-projects {
      right: -30px;
    }
  }
  @media (max-width: 1024px) {
    #projects-rect-right,
    #projects-rect-left {
      display: none;
    }
  }
</style>

<script>
  const projects = document.querySelectorAll(".project");

  projects.forEach((link) => {
    link.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      if (
        target.classList.contains("link--icon") ||
        (target.parentNode as HTMLElement).classList.contains("link--icon")
      ) {
        return;
      }

      const project = target.closest(".project") as HTMLElement;
      const link = project?.dataset.link;
      window.open(link, "_blank")?.focus();
    });
  });
</script>
