---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<a class="" href={`/blog/${post.slug}/`}>
  <div class="mb-4">
    <FormattedDate date={post.data.pubDate} />
    <h4 class="mt-2">{post.data.title}</h4>
  </div>
  <p>{post.data.description}</p>

  <p class="btn-read-story">Read Full Story</p>
</a>
<style>
  .btn-read-story {
    color: var(--clr-grd-one);
  }
  a {
    background: var(--clr-bg);
  }
</style>
