---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<a class="blog-post" href={`/blog/${post.slug}/`}>
  <div class="mb-2">
    <FormattedDate date={post.data.pubDate} />
    <h4 class="mt-2 text-xl">{post.data.title}</h4>
  </div>
  <p>{post.data.description}</p>

  <p class="btn-read-story text-[color:var(--clr-grd-one)] mb-2">Read Full Story</p>
</a>
<style>
  .blog-post {
    padding: 1em;
    border-radius: 8px;
    transition:
      border ease-in 0.2s,
      opacity ease-in 0.2s;
    border: 1px solid var(--clr-bg);
  }
  .blog-post:hover {
    border: 1px solid var(--clr-bg-code);
    opacity: 1 !important;
  }

  @media (max-width: 640px) {
    .blog-post {
      padding-left: 0;
      padding-right: 0;
      border: 0.5px solid var(--clr-bg) !important;
    }
  }
</style>
