---
const { href, icon, ariaLabel } = Astro.props;
---

<a href={href} target="_blank" rel="noreferrer" aria-label={ariaLabel} title={ariaLabel} class="link link--icon">
  <Fragment set:html={icon} />
</a>

<style>
  .link--icon {
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: flex;
    padding: 8px 0;
  }
  :global(.link--icon svg) {
    fill: var(--clr-quote);
    font-size: 1.2rem;
    width: 18px;
    height: 18px;
  }
</style>
