---
const { default: up } = await import(`/src/assets/icons/angles-up.svg?raw`);
---

<div class="scroll-container">
  <div class="scroll-top">
    <a aria-label="Scroll up" href="#top">
      <Fragment set:html={up} />
    </a>
  </div>
</div>
<style>
  .scroll-top {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2em;
    background-color: transparent;
    font-size: 1.8rem;
    transition: var(--transition);
  }

  :global(.scroll-top svg) {
    width: 26px;
    fill: var(--clr-quote);
  }
</style>
<script>
  document.addEventListener("scroll", () => {
    const btnScrollTop = document.querySelector<HTMLElement>(".scroll-top");

    if (!btnScrollTop) return;

    if (document.body?.scrollTop > 500 || document.documentElement.scrollTop > 500) {
      btnScrollTop.style.display = "block";
    } else {
      btnScrollTop.style.display = "none";
    }
  });
</script>
