<h2 class="section-title text-2xl mb-6 sm:mb-16 sm:text-[2rem] font-bold sm:mx-auto w-fit max-w-[70vw] uppercase block">
  <slot />
</h2>

<style>
  .section-title {
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, var(--clr-grd-one), var(--clr-grd-two));
  }
</style>
