---
const { title } = Astro.props; 
---

<div class="skill btn btn--plain">
  <p>{title}</p>
</div>

<style>
  .skill {
    padding: 1em 0.8em;  
    border-radius: 8px;
    width: 100%;
    max-width: 10em;
  }

  .skill > * {
    background: transparent;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
</style>
