article h1 {
  font-weight: 500;
}
article h2,
article h3,
article h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

article a {
  color: var(--clr-primary);
  cursor: pointer;
  text-decoration: underline;
}
article img + small {
  margin-top: 1em;
  display: block;
  text-align: center;
}
article p img {
  width: 100%;
  border-radius: 6px;
  max-width: 500px;
  margin: 0 auto;

  box-shadow: var(--shadow);
  z-index: 0;
  position: relative;
}
article .w-image img {
  max-width: 100%;
}
article ul {
  list-style-type: disc;
  padding-left: 18px;
  margin-bottom: 1.5em;
}

article li {
  margin-bottom: 0.5em;
}

article li p {
  margin-bottom: 0.5em;
}

.go-back {
  color: var(--clr-link);
}
.go-back svg {
  width: 10px;
  fill: var(--clr-link);
}

article ol {
  padding-left: 26px;
  padding-bottom: 12px;
  list-style: decimal;
}

article ol li {
  margin-bottom: 0.5em;
}

article blockquote p {
  margin-left: 12px;
  font-size: 24px;
  color: var(--clr-quote);
  font-style: italic;
  margin-bottom: 1em;
}

article .expressive-code + p {
  margin-bottom: 1em;
}

article .title + h2,
article hr + h2,
article hr + h3 {
  margin-top: 0;
}

article p {
  font-size: 18px;
}

@media (max-width: 640px) {
  article p {
    font-size: 16px;
  }

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}
