.about *:not(canvas) {
  z-index: 1;
}

.nav-open .about *:not(canvas) {
  z-index: -1;
}

.light canvas {
  display: none;
}

@media not all and (min-width: 640px) {
  .night-back-container {
    margin-left: -1em;
    margin-right: -1em;
  }
}
