.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-bg-code: #eee;
  --clr-quote: #afb8c1;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #1b3487;
  --clr-grd-one: #ba2d23;
  --clr-grd-two: #1b3487;
  --shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px, rgba(100, 100, 111, 0.2) 0px 0px 0px 0.5px;
  --display-sun: none;
  --display-moon: block;
}

.dark {
  --clr-bg: #030317;
  --clr-bg-alt: #2a2f4c;
  --clr-bg-code: #404051;
  --clr-quote: #7f7f9f;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --clr-grd-one: #90a0d9;
  --clr-grd-two: #90a0d9;
  --shadow: rgba(100, 100, 111, 0.2) 0px 10px 10px 0px, rgba(100, 100, 111, 0.2) 0px 0px 0px 1px;
  --display-sun: block;
  --display-moon: none;
}
*:not(pre, code, hr) {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

::-webkit-selection,
::selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 32px 0;
  border-style: dashed;
}
button {
  cursor: pointer;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}
code {
  background: var(--clr-bg-code);
  padding: 2px;
  font-size: 12px;
}
small {
  font-size: smaller;
}

body.nav-open {
  overflow: hidden;
}

main {
  height: calc(100vh - 120px);
  position: relative;
  background: transparent;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
pre {
  background: var(--clr-bg-code) !important;
  padding: 1em;
  font-size: 12px;
  margin-bottom: 2em;
}

code span {
  color: var(--clr-fg) !important;
}

b,
strong {
  font-weight: 500;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 640px) {
  section {
    margin-top: 4em;
  }
  main {
    height: unset;
  }
}
