---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { title, description, addNight, ...props } = Astro.props;

const { default: up } = await import(`/src/assets/icons/angles-up.svg?raw`);

const theme = Astro.cookies.get("theme")?.value;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="relative" id="top" data-theme={theme}>
    {addNight && <canvas id="canvas" />}
    <Header />
    <main {...props} transition:animate="slide">
      <slot />
    </main>
    <div class="scroll-container">
      <div class="scroll-top">
        <a aria-label="Scroll up" href="#top">
          <Fragment set:html={up} />
        </a>
      </div>
    </div>
    <Footer />
    <script>
      // import { render } from "@assets/js/night.js";
      // import { start } from "@assets/js/shooting-star.js";

      // render();
      // setTimeout(start, 200);

      document.addEventListener("scroll", () => {
        const btnScrollTop = document.querySelector<HTMLElement>(".scroll-top");

        if (!btnScrollTop) return;

        if (document.body?.scrollTop > 500 || document.documentElement.scrollTop > 500) {
          btnScrollTop.style.display = "block";
        } else {
          btnScrollTop.style.display = "none";
        }
      });
    </script>
  </body>
</html>
